<%- include('partials/_header.ejs') -%>
      
<%- include('partials/_navigation.ejs') -%>
      <!-- end header inner -->
      <!-- end header -->
        <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                   <h2>Trainings</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- trainers -->
      <div class="container mt-5">
         <div class="col-sm-12">
           <div class="row">
             <div class="card-group">
   
               <% for(let i=0;i<trainings.length;i++){ %>
                 <div class="col-sm-6 col-md-4">
                   <div class="card">
                     <img src="/images/tra0.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" href="/" />
                     <div class="card-body">
                       <h5 class="card-title"><a href="/trainings/<%= trainings[i].slug%>" title="">
                           <%= trainings[i].name%>
                         </a></h5>
                       <p class="card-text">
                         <%= trainings[i].description%>
                       </p>
   
                     </div>
                   
                   </div>
   
                 </div>
   
                 <!-- UPDATE Modal -->
                 <div class="modal fade" id="updateTraining<%= trainings[i]._id%>" tabindex="-1" role="dialog"
                   aria-labelledby="myModalLabel">
                   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                     <div class="modal-content">
                       <div class="modal-body customer-box">
                         <!-- Tab panes -->
                         <div class="tab-content">
                           <div class="tab-pane active" id="Login">
                             <form method="POST" action="/courses/<%= trainings[i].slug %>?_method=PUT"
                               class="form-horizontal">
                               <div class="form-group">
                                 <div class="col-sm-12">
                                   <input type="text" name="name" value="<%= trainings[i].name %>" class="form-control"
                                     placeholder="Training Name">
                                 </div>
                               </div>
   
                               <div class="form-group">
                                 <div class="col-sm-12">
                                   <input type="hidden" name="role" class="form-control" value="">
                                 </div>
                               </div>
                               <div class="form-group">
                                 <div class="col-sm-12">
                                   <textarea rows="8" name="description" class="form-control"
                                     placeholder="Training Description"
                                     required><%= trainings[i].description.substring(0,100) + '...'%></textarea>
                                 </div>
                               </div>
                             </form>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
   
                 <% } %>
   
             </div>
           </div>
         </div>
       </div>
      <!-- end trainers -->
      <%- include('partials/_footer.ejs') -%>