<%- include('partials/_header.ejs') -%>
      
<%- include('partials/_navigation.ejs') -%>


<div id="overviews" class="section wb">
    <div class="container mt-5">
        <div class="row"> 
            <div class="col-lg-9 blog-post-single">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="/images/banner3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">

                        <% if(user && user.role === 'member'){ %>
                            <% if(!(user.trainings.includes(training._id))) { %>
                        <div class="post-date">
                        <form method="POST" action="/trainings/enroll">
                            <input type="hidden" name="training_id" value="<%=training._id%>">
                            <button class="btn btn-lg btn-warning text-white"><span>ENROLL</span></button>
                        </form>
                        </div>
                        <% } %>
                        <% } %>
                        <div class="meta-info-blog">
                            <span><i class="fa fa-calendar"></i> <a href="#">May 11, 2015</a> </span>
                        </div>
                        <div class="blog-title">
                            <h2><a href="#" title=""><%=training.name %></a></h2>
                        </div>
                        <div class="blog-desc">
                            <blockquote class="default">
                                <%=training.description %>
                                </blockquote>
                            
                        </div>							
                    </div>
                </div>
                
                <div class="blog-author">
                                <div class="col-lg-12 blog-post-single">
                                    <div class="blog-author">
                                        <div class="author-bio">
                                            <h3 class="author_name">COURSES FROM: <%=user.name %></h3>
                                        </div>
                        
                                    </div>

                                </div><!-- end col -->

                </div>
                
            </div><!-- end col -->
         
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->



<%- include('partials/_footer.ejs') -%>